@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body{
    background: black;
    font-family: 'Righteous', cursive;
}


.adjustment{
    padding: 5px;
}

#colorI{
    color:blue;
}

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -background-size:cover;
    -o-background-size: cover;

}


