*{
  margin:0;
  padding:0;
}
body{
  overflow:hidden;
}
#alpha{
  position: fixed;
  z-index:-1;
  min-width:100%;
  min-height:100%;
  width:auto;
  height:100vh;
  object-fit: cover;
  


  
}

.goodies{
  text-align: center;;
  top: 40%;
  left: 50%;
  position: fixed;
  transform: translateX(-50%) translateY(-50%);
  border: 3px solid black;
  border-radius: 10px;
  padding:20px;
}

.picture{
  text-align:center;

}

.quote{
  text-align:center;
  font-size: 25px;
  padding:5px;
}


.btn {
  display: inline-block;
  
	padding: 15px 30px;
	background: var(--primary-color);
	color: black;
	border-radius: 5px;
	border: solid black 2px;
	margin-top: 10px;
	opacity:1.0;
}

.btn:hover {
	transform: scale(0.98);
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
.quote{font-size: 35px; }
}
 
/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* STYLES GO HERE */
}
 
/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* STYLES GO HERE */
}
 
/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* STYLES GO HERE */
}
 
/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
/* STYLES GO HERE */
}
 
/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
/* STYLES GO HERE */
}
 
/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* STYLES GO HERE */
}
 
/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* STYLES GO HERE */
}
 
/* iPhone 5 (portrait &amp; landscape)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
/* STYLES GO HERE */
}
 
/* iPhone 5 (landscape)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : landscape) {
/* STYLES GO HERE */
}
 
/* iPhone 5 (portrait)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {
/* STYLES GO HERE */
}



